  <!-- header -->
<div class="header">
    <div class="agile-top-header">
        <div class="banner-agile-top">
            <div class="number">
                <h3><i class="fa fa-phone" aria-hidden="true"></i> +91 080 987 6541</h3>
            </div>
            <div class="top-icons">
                <ul>
                    <li><a href="https://www.facebook.com/Khách-Sạn-Mai-Sơn-2040367372848540" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="logo">
            <h1><a href="index.html">MAISON<span>Hotel</span></a></h1>
        </div>
        <!-- navigation -->
        <div class="top-left">
            <div class="top-nav">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                    <!-- navbar-header -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav class="linkEffects linkHoverEffect_2">
                            <ul>
                                <li><a href="index.html" data-link-alt="Home" class="active"><span>Home</span></a></li>
                                <li><a href="#about" data-link-alt="about" class="scroll"><span>About</span></a></li>
                                <li><a href="#services" data-link-alt="services" class="scroll"><span>Services</span></a></li>
                                <li><a href="#gallery" data-link-alt="gallery" class="scroll"><span>Gallery</span></a></li>
                                <li><a href="#testimonials" data-link-alt="testimonials" class="scroll"><span>Testimonials</span></a></li>
                                <li><a href="#contact" data-link-alt="Contact Us" class="scroll"><span>Contact Us</span></a></li>
                            </ul>
                        </nav>

                    </div>
                </nav>
                <div class="search">
                    <form action="#" method="post">
                        <input type="search" placeholder="Search..." name="Search" required="">
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
        <div class="clearfix"> </div>
        <!-- //navigation -->
    </div>
</div>
<!--Slider-->
<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider">
            <li>
                <div class="slider-info">
                    <h3>Tiện ích & Dịch vụ</h3>
                    <p>Mang đến cho khách hàng nhiều tiện ích và dịch vụ cao cấp với giá phải chăng.</p>
                    <div class="readmore-w3">
                        <a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="slider-info1">
                    <h3>ưu đãi</h3>
                    <p>Mang đến cho khách hàng nhiều ưu đãi hấp dân, đặc biệt là các khách hàng thân thiết.</p>
                    <div class="readmore-w3">
                        <a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="slider-info2">
                    <h3>Vị trí đắc địa</h3>
                    <p>Khách sạn gần biển, các trung tâm thương mại lớn, thuận lợi cho các hoạt động của khách hàng.</p>
                    <div class="readmore-w3">
                        <a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
            <!-- Modal1 -->
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>Our Dream hotel</h4>
                        <img src="images/popup.jpg" alt=" " class="img-responsive" />
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Modal1 -->
    </div>
    <div class="clearfix"></div>
</div>
<!--//Slider-->

<div class="w3-aglile-about" id="about">
    <div class="w3-agile-about-grids">
        <div class="w3-aglie-about-grid1">
            <div class="col-md-6 w3-about-text-grid">
                <h3>About us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet justo imperdiet, consequat risus quis, efficitur urna. Curabitur nec eleifend neque. Donec a aliquam libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet justo imperdiet, consequat risus quis, efficitur urna. Curabitur nec eleifend neque. Donec a aliquam libero.</p>
                <h5><a href="#">Readmore</a></h5>
            </div>
            <div class="col-md-6 w3-aglie-about-img-grid1">

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="w3-aglie-about-grid2">
            <div class="col-md-4 w3-about-bg-text-grid">
                <div class="w3-about-bg-head">
                    <h3>Restaurant</h3>
                    <p>National & international cuisine</p>
                    <h5><a href="#">viewmore</a></h5>
                </div>
            </div>

            <div class="col-md-4 w3-about-text1-grid">
                <div class="w3-about-text-heads">
                    <h3>Early Bookings</h3>
                    <h4>Save 20%</h4>
                    <p>Sed in elit sit amet risus suscipit venenatis et scelerisque quam. Ut mollis lorem ac turpis mattis, a tristique lacus molestie. Curabitur pretium leo sed tortor ultricies, vitae accumsan lacus pretium.</p>
                    <ul class="about-list">
                        <li><a href="#">viewmore</a></li>
                        <li><a href="#main" class="scroll">Booknow</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 w3-about-img-grid">

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- /about -->
