<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tour Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <!-- Animate.css -->

    <link href="~/Assets/client/css/animate.css" rel="stylesheet" />
    <!-- Icomoon Icon Fonts-->

    <link href="~/Assets/client/css/icomoon.css" rel="stylesheet" />
    <!-- Bootstrap  -->

    <link href="~/Assets/client/css/bootstrap.css" rel="stylesheet" />

    <!-- Magnific Popup -->
    <link href="~/Assets/client/css/magnific-popup.css" rel="stylesheet" />

    <!-- Flexslider  -->

    <link href="~/Assets/client/css/flexslider.css" rel="stylesheet" />

    <!-- Owl Carousel -->

    <link href="~/Assets/client/css/owl.carousel.min.css" rel="stylesheet" />

    <link href="~/Assets/client/css/owl.theme.default.min.css" rel="stylesheet" />

    <!-- Date Picker -->

    <link href="~/Assets/client/css/bootstrap-datepicker.css" rel="stylesheet" />
    <!-- Flaticons  -->
    <link href="~/Assets/client/fonts/flaticon/font/flaticon.css" rel="stylesheet" />

    <!-- Theme style  -->

    <link href="~/Assets/client/css/style.css" rel="stylesheet" />
    <!-- Modernizr JS -->

    <script src="~/Assets/client/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution="setup_tool"
         page_id="2040367372848540"
         logged_in_greeting="Khách sạn mai sơn xin kính chào quí khách! "
         logged_out_greeting="Khách sạn mai sơn xin kính chào quí khách! ">
    </div>

    <div class="colorlib-loader"></div>

    <div id="page">
        <nav class="colorlib-nav" role="navigation">
            <div class="top-menu">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-2">
                            <div id="colorlib-logo"><a href="index.html">MAISON HOTEL</a></div>
                        </div>
                        <div class="col-xs-10 text-right menu-1">
                            <ul>
                                <li class="active"><a href="index.html">Home</a></li>
                                <li><a href="hotels.html">Hotels</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <aside id="colorlib-hero">
            <div class="flexslider">
                <ul class="slides">
                    <li style="background-image: url(/Assets/client/images/hotel-3.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h2>Beatiful View</h2>
                                        <h1>View to beach, road</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(/Assets/client/images/hotel-4.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h2>Perfect architecture</h2>
                                        <h1>From 1990</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(/Assets/client/images/hotel-5.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluids">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h2>With more service</h2>
                                        <h1>Multiple utility service</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image:  url(/Assets/client/images/hotel-6.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h2>Not expensive</h2>
                                        <h1>About $54 per night</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        @{Html.RenderAction("SearchRoom", "Home");}
    </div>
    @RenderBody()

    @{Html.RenderAction("Footer", "Home");}

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>

    <!-- jQuery -->
    <script src="~/Assets/client/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Assets/client/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Assets/client/js/bootstrap.min.js"></script>
    <!-- Waypoints -->

    <script src="~/Assets/client/js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->

    <script src="~/Assets/client/js/jquery.flexslider-min.js"></script>
    <!-- Owl carousel -->

    <script src="~/Assets/client/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Assets/client/js/jquery.magnific-popup.min.js"></script>

    <script src="~/Assets/client/js/magnific-popup-options.js"></script>
    <!-- Date Picker -->

    <script src="~/Assets/client/js/bootstrap-datepicker.js"></script>
    <!-- Stellar Parallax -->

    <script src="~/Assets/client/js/jquery.stellar.min.js"></script>
    <!-- Main -->
    <script src="~/Assets/client/js/main.js"></script>

</body>
</html>

