  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Blank page
        <small>Thêm mới loại phòng</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Phòng</a></li>
        <li><a ui-sref="room_types">Loại phòng</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddRoomType" role="form" ng-submit="AddRoomType()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên loại phòng</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-change="GetSeoTitle()" ng-maxlength="256" required name="name" ng-model="roomType.Name">
                        <span ng-show="frmAddRoomType.name.$invalid" class="has-error">Phải nhập tên loại phòng</span>
                        <span ng-show="frmAddRoomType.name.$error.maxlength" class="has-error">Tên danh mục chỉ được 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tiêu đề SEO</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="256" required name="alias" ng-model="roomType.Alias">
                        <span ng-show="frmAddRoomType.alias.$invalid" class="has-error">Phải nhập tiêu đề SEO</span>
                        <span ng-show="frmAddRoomType.alias.$error.maxlength" class="has-error">Tiêu đề SEO chỉ được 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Mô tả</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="500" name="desription" ng-model="roomType.Description">
                        <span ng-show="frmAddRoomType.desription.$error.maxlength" class="has-error">Mô t chỉ được 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Số người tối đa</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="500" name="desription" ng-model="roomType.MaxPeople">
                        <span ng-show="frmAddRoomType.maxpeople.$error.maxlength" class="has-error">nothing</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Hình ảnh</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="image" ng-model="roomType.Image">
                        <span ng-show="frmAddRoomType.image.$error.maxlength" class="has-error">Hình ảnh chỉ được 256 ký tự</span>
                        <button class="btn btn-default" type="button" ng-click="ChooseImage()">Chọn ảnh</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Meta Keyword</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="metaKeyword" ng-model="roomType.MetaKeyword">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Meta Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="metaDiscription" ng-model="roomType.MetaDiscription"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="status" ng-model="roomType.Status" ng-checked="roomType.Status"> Kích hoạt
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="room_types" class="btn btn-default">Hủy</button>
                <button type="submit" ng-disabled="frmAddRoomType.$invalid" class="btn btn-info pull-right">Thêm mới</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</section>